:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #DCDCDC;
}

.profilePhoto{
  width:400px;
  border-radius: 15px;
  border:none;
}

.container{
  align-content: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-height: 500px;
  border: 5px solid;
  border-radius: 15px;
  background-color: #1A1B21;
  text-align: center;
  border:none;
}

.footerIcons{
  display: flex;
  background-color: #161619;
  min-height: 50px;
  align-items: center;
  justify-content: space-around;
}

.textHeader{
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.textContent{
  margin:0%;
}

.name{
  margin-bottom: 5px;
}

.title{
  margin: 0;
  color: #F3BF99;
  font-weight: 100;
}

.portfolio{
  margin-top: 0;
  margin-bottom: 10px;
}

.buttons{
  display: flex;
  width: auto;
  justify-content: space-around;
}

.infoButton{
  width:150px;
  height: 35px;
  border-radius: 8px;
  border:none;
}

Footer{
  border-radius: 8px;
}